footer {
  margin-top: 20px;
  text-align: center;
  line-height: 2.5rem;
  font-size: 1.2rem;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  width: 100%;
}

a {
  color: black;
}

a:hover {
  color: darkgrey;
}